@model IEnumerable<LSAppManagement.Models.ApplicationModel>

@{
    ViewBag.Title = "Restore";
}

@using (Html.BeginForm("Restore", "Home", FormMethod.Post, new { }))
{

}

<h3>Delete</h3>
<div class="list-group">
    @foreach (var item in Model)
    {
        <a class="list-group-item">
            <div class="row">
                <div class="col-xs-2">@item.ID</div>
                <div class="col-xs-10">@item.Name</div>
            </div>
        </a>
    }
</div>